@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{

  --mainColor: #0059f7;
  --mainColorHover: #f3f9fe;
  --appBackground:#f9f9fb;
  --appBackgroundHover:#ffffff;
  --appLine: #EEF2F6;

  --appText: #000;
  --appTextNoHover: #818e98;
  --appTextHover: #fff;

  --appFont:'Open Sans', sans-serif;

  --colorGreen: #2EC869;
  --colorGreenLight: #A2E7BC; 
  --colorRed: #e71f20;
  --colorRedLight: #F49B9B; 

  --boxShadow : 0px 0px 10px rgba(10,10,10, 0.1);

}

/* SCROLL BAR CUSTOM  */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* APP */

body{
  background-color: var(--appBackground);
}
*{padding:0; margin:0;}

.App__Body{
  display: flex;
}
.App__Header{
  background-color: var(--appBackgroundHover);
  position: fixed;
  height: 100%;
  width: 100px;
}
.App__Content{
  height: auto;
  margin-left: 100px;
  width: calc(100% - 100px);
}

.colorRed{
  color: var(--colorRed);
}
.colorRedLight{
  background-color: var(--colorRedLight);
} 
.colorGreen{
  color: var(--colorGreen);
}
.colorGreenLight{
  background-color: var(--colorGreenLight);
}


