.main__content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

/* SECTION 1 */ 

.section1__container{
    margin: 150px 0 100px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1__header{
    width: 50%;
    text-align: center;
}
.section1__header>h1{
    font-family: var(--appFont);
    font-size: 50px;
    font-weight: bold;
    color: var(--appText);
}
.section1__header>p{
    padding: 20px 0;
    font-size: 17px;
    color: var(--appText);
    font-family: var(--appFont);
}
.section1__search{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1__search__container{
    width: 480px;
    padding: 0 25px;
    border-radius: 15px;
    background-color: var(--appBackgroundHover);
    color: var(--secondaryColor)
}
.section1__search__container>i{
    vertical-align: middle;
}
.section1__search__container>input{
    color: var(--secondaryColor);
    vertical-align: middle;
    width: 90%;
    height: 60%;
    font-size: 13px;
    margin-left: 10px;
    font-family: var(--appFont);
    outline: none;
    height: 60px;
    border: none;
}
.section1__powered_section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    padding: 3px 10px 3px 5px;
    border-radius: 50px;
    width: auto;
    background-color: var(--appBackgroundHover);
    font-family: var(--appFont);
}
.section1__powered_section>img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.section1__powered_section>p{
    font-size: 10px;
}
.section1__row__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section1__row__container>a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--appFont);
    text-decoration: none;
    color: var(--appText);
    border-radius: 15px;
    margin: 5px;
    background-color: var(--appBackgroundHover);
    width: 360px;
    height: 260px;
}

/* SECTION 2 */

.section2__container{
    margin: 100px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2__header{
    width: 55%;
    text-align: center;
}
.section2__header>h1{
    font-family: var(--appFont);
    font-size: 50px;
    font-weight: bold;
    color: var(--appText);
}
.section2__header>p{
    padding: 20px 0;
    font-size: 17px;
    color: var(--appText);
    font-family: var(--appFont);
}
.section2__row__container{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section2__row__container>a{
    font-family: var(--appFont);
    text-decoration: none;
    color: var(--appText);
    border-radius: 15px;
    margin: 5px;
    background-color: var(--appBackgroundHover);
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}