.dashboard__main__content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.dashboard__section1__container{
    margin: 200px 0 100px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.dashboard__section1__header{
    display: grid;
    margin-bottom:25px;
    grid-template-columns: 1fr auto auto;
}
.btn__veiwValues, .btn__addNew{
    border: none;
    background-color: transparent;
    margin-left: 10px;
}
.btn__addNew>p{
    vertical-align: middle;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid var(--mainColor);
    color: var(--appTextHover);
    font-family: var(--appFont);
    padding: 15px 20px;
    font-size: 15px;
    background-color: var(--mainColor);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn__addNew>p:hover{
    background-color: transparent;
    color: var(--mainColor);
}
.btn__veiwValues>i{
    vertical-align: middle;
    border: 1px solid var(--appTextHover);
    border-radius: 50px;
    color: var(--mainColor);
    padding: 10px;
    font-size: 20px;
    background-color: var(--appTextHover);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.btn__veiwValues>i:hover{
    border: 1px solid var(--mainColor);
}
.dashboard__section1__header>h1{
    text-align: left;
    font-family: var(--appFont);
    font-size: 50px;
    font-weight: bold;
    color: var(--appText);
}
.dashboard__categories{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    width: auto;
    height: auto;
}
.categories__main{
    width: 100%;
    border-radius: 10px;
    background-color: var(--appTextHover);
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.categories__main:hover{
    box-shadow: var(--boxShadow);
}
.value__category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.value__left{
    display: flex;
    flex-direction: column;
}
.value__left>p{
    font-size:14px;
    color: var(--secondaryColor);
    font-family: var(--appFont);
}
.value__left>h1{
    font-size:30px;
    color: var(--appText);
    font-family: var(--appFont);
}
.value__icon>i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 55px;
    font-size: 25px;
    height: 55px;
    margin-right: 10px;
    color: var(--appText);
    background-color: var(--appBackground);
    transition: all 0.2s ease-in-out;
}
.value__percentage{
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--colorGreen);
}
.value__percentage>h1{
    font-size: 20px;
    font-family: var(--appFont);
    margin: 0px 5px;
}
.value__percentage>p{
    font-size: 15px;
    font-family: var(--appFont);
    color: var(--secondaryColor);
    margin: 0px 5px;
}

/* GRAPH */

.dashboard__graph__container{
    margin-top: 25px;
    padding: 30px;
    background-color: var(--appTextHover);
    border-radius: 15px;
    font-family: var(--appFont);
}
.dashboard__graph__header{
    display: flex;
    justify-content: space-between;
    align-items: left;
    vertical-align: middle;
}
.dashboard__graph__left>p{
    color: var(--secondaryColor);
    font-size: 13px;
}
.graph__options{
    vertical-align: middle;
    justify-content: space-between;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--appBackground);
}
.graph__options>p{
    cursor: pointer;
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
    margin: 0 10px;
    color: var(--secondaryColor);    
    transition: 0.2s ease-in-out;
}
.graph__options>.active{
    color: var(--mainColor);    
}
.graph__options>p:hover{
    color: var(--mainColor);
}
.dashboard__graph{
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 1190px) {
    .dashboard__section1__container{
        width: 95%;
    }
}
@media only screen and (max-width: 1024px) {
    .dashboard__categories{
        grid-template-columns: 1fr 1fr;
    } 
}
@media only screen and (max-width: 680px) {
    .dashboard__categories{
        grid-template-columns: 1fr;
    } 
}
@media only screen and (max-width: 870px) {
    .dashboard__graph__header{
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    .dashboard__graph__left>h1{
        margin-bottom: 20px;
    }
    .dashboard__graph__container{
        padding: 20px;
    }
    .graph__options>p{
        padding: 5px;
    }
}