.main__header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    align-items: center;
    background-color: transparent;
    transition: background 0.2s ease-in-out;
}
.scrolled{
    background-color: var(--appTextHover);
}
.navbar__container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__brand>a{
    display: flex;   
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--appText);
    font-family: var(--appFont);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.2s ease-in-out;
}
.navbar__brand>a:hover{
    color: var(--mainColor);
}
.navbar__brand__link>img{
    display: none;
}
.navbar__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__menu>a{
    text-decoration: none;
    color: var(--appText);
    font-family: var(--appFont);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 25px;  
    text-align: center; 
    transition: all 0.2s ease-in-out;
}
.navbar__menu>a:hover{
    color: var(--mainColor);
}
.navbar__account{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__signUp{
    text-decoration: none;
    cursor: pointer;
    font-family: var(--appFont);
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--mainColor);
    color: var(--appTextHover);
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.navbar__signIn:hover{
    color: var(--mainColor);
}
.navbar__signUp:hover{
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    background-color: transparent;
}
.navbar__account>i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--mainColor);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--mainColor);
    transition: all 0.2s ease-in-out;
}
.navbar__account>i:hover{
    color: var(--appTextHover);
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

/* MOBILE NAVBAR */

.MobileNav__container{
    visibility: hidden;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MobileNav__content{
    margin: 20px;
    width: 70%;
    height: 70px;
    border-radius: 50px;
    padding: 10px 25px;
    backdrop-filter: blur(10px);
    background-color: var(--appBackgroundHover);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile__link{
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    align-items: center;
    font-size: 13px;
    font-family: var(--appFont);
    color: var(--secondaryColor);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.mobile__link>img{
    width: 20px;
    height: 20px;
}
.mobile__link>p{
    margin-top: 5px;
}
.mobile__link>i{
    font-size: 20px;
}

.active{
    color: var(--mainColor);
}

/* ICON CLICK */

.profile__User{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 20px;
}
.profile__User>img{
    width: 50px;
    margin-right: 15px;
}

.profile__popup__main{
    display: flex;   
}
.profile__popup__main>a{
    font-family: var(--appFont); 
    padding: 15px;
    width: 100%;
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
.profile__popup__main>.sign__in{
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}
.profile__popup__main>.sign__in:hover{
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}
.profile__popup__main>.sign__up{
    display: none;
    border: 2px solid var(--mainColor);
    background-color: var(--mainColor);
    color: var(--appTextHover);
}

.profile__user__name>h3{
    font-family: var(--appFont);
}
.profile__user__name>a{
    font-family: var(--appFont);
    font-size: 13px;
    color: var(--mainColor);
}

.p-slidemenu .p-menuitem-link .p-menuitem-text, .p-slidemenu .p-menuitem-link .p-menuitem-icon{
    color: var(--secondaryColor) !important;
    transition: all 0.2s ease-in-out;
}

.p-slidemenu .p-menuitem-link:hover .p-menuitem-text, .p-slidemenu .p-menuitem-link:hover .p-menuitem-icon{
    color: var(--mainColor) !important;
}
.p-slidemenu .p-menuitem-link:hover .p-menuitem-icon{
    transform: rotate(-10deg);
}
/* RESPONSIVE */

@media only screen and (max-width: 1190px) {
    .navbar__container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar__container{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__brand__link>p{
        display: none;
    }
    .navbar__brand__link>img{
        display: block;
        height: 40px;
    }
}
@media only screen and (max-width: 870px){
    .navbar__menu{
        display: none;
    }
    .navbar__brand__link>p{
        margin-left: 15px;
        display: block;
    }
    .navbar__signIn{
        display: none;
    }
    .MobileNav__container{
        visibility: visible;
    }
    
}

@media only screen and (max-width: 470px){
    .navbar__signUp{
        display: none;
    }
    .profile__popup__main>.sign__up{
        display: block;
    }
    .navbar__brand__link>img{
        margin-left: 5px;
    }
}
