.navBar__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.navBar__logo>img{
    margin: 25px 0; 
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.navBar__logo>img:hover{
    transform: rotate(359deg) scale(0.9);
}

/* NAVBAR LINKS */


.navBar__links{
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px 0;
}
.navBar__links>a{
    border-radius: 10px;
    margin: 5px 0;
    padding: 21px 23px 20px 23px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    color: var(--appTextNoHover);
    transition: 0.2s ease-in-out;
}
.navBar__links>a:hover{
    transform: scale(0.9);
    background-color: var(--mainColorHover);
    color: var(--mainColor); 
}
.navBar__links>a>i{
    transition: 0.2s ease-in-out;
}
.navBar__links>a.activeDesktop{
    background-color: var(--mainColorHover);
    border-radius: 15px;
    color: var(--mainColor);
}
.navBar__links>a.activeDesktop>i{
    transform: rotate(45deg);
}

/* RESPONSIVE SIDEBAR */

.navBar__Responsivive{
    display: none;
}
.navBar__Responsivive>a{
    border-radius: 10px;
    margin: 5px 0;
    padding: 21px 23px 20px 23px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    color: var(--appTextNoHover);
    transition: 0.2s ease-in-out;
}
.navBar__Responsivive>a:hover{
    transform: scale(0.9);
    background-color: var(--mainColorHover);
    color: var(--mainColor);
    transition: 0.2s ease-in-out;
}
.navBar__Responsivive>a>i{
    transition: 0.2s ease-in-out;
}
.navBar__Responsivive>a>i:hover{
}
.navBar__Responsivive>a.activeTopBar{
    background-color: var(--mainColorHover);
    color: var(--mainColor);
}

/* Responsive */

@media only screen and (max-width:784px){
    .navBar__Responsivive{
        vertical-align: bottom;
        top: 100%;
        display: flex;
        flex-direction: column;

    }
}
