.main__header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--appBackgroundHover);
}
.navbar__container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__brand>a{
    text-decoration: none;
    color: var(--appText);
    font-family: var(--appFont);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.2s ease-in-out;
}
.navbar__brand>a:hover{
    color: var(--mainColor);
}
.navbar__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__menu>a{
    text-decoration: none;
    color: var(--appText);
    font-family: var(--appFont);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 25px;  
    text-align: center; 
    transition: all 0.2s ease-in-out;
}
.navbar__menu>a:hover{
    color: var(--mainColor);
}
.navbar__account{
    display: flex;
    justify-content: space-between;
}
.navbar__signIn{
    text-decoration: none;
    color: var(--appText);
    font-family: var(--appFont);
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.navbar__signUp{
    text-decoration: none;
    cursor: pointer;
    font-family: var(--appFont);
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--mainColor);
    color: var(--appTextHover);
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.navbar__signIn:hover{
    color: var(--mainColor);
}
.navbar__signUp:hover{
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    background-color: transparent;
}