.signin__main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin__container{
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    margin: 75px;
    background-color: var(--appBackgroundHover);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin__left{
    margin: 0px 100px;
    width: 350px;
}
.signin__left>h2{
    font-family: var(--appFont);
    margin-bottom: 50px;
}
.form__signIn>label{
    padding-top: 25px;
    font-family: var(--appFont);
}
.form__field{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    height: auto;
    padding: 5px;
    background-color: var(--mainColorHover);
    border-radius: 10px;
}
.form__field>i{
    background-color: var(--mainColor);
    padding: 15px;
    color: var(--appTextHover);
    border-radius: 10px;
}
.form__field>input{
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 15px;
    outline: none;
    font-family: var(--appFont);
}
.form__signIn>button{
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    font-family: var(--appFont);
    color: var(--appTextHover);
    transition: 0.2s ease-in-out
}
.form__signIn>button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--mainColor);
}

.form__confirm{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.form__confirm>label{
    margin-left: 5px;
    font-family: var(--appFont);
    font-size: 12px;
}

/* SOCIAL LOGIN */

.Social__login{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: var(--appFont);
    height: 50px;
}
.google-signin{
    margin:5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: black;
    border:1px solid var(--appTextNoHover);
    border-radius: 10px;
}
.facebook-signin{
    margin:5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b74e4;
    color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.facebook-signin:hover{
    box-shadow: var(--boxShadow);
}
.facebook-signin>p{
    padding-left: 10px;
}
.google-signin>p{
    padding-left: 10px;
}

/* CHECKBOX SIGNIN */

.checkBox__signIn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkBox__signIn>label{
    font-family: var(--appFont);
    font-size: 13px;
    margin-left: 10px;
}

.p-checkbox .p-checkbox-box.p-highlight{
    border-color: var(--mainColor) !important;
    background: var(--mainColor) !important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
    border-color: var(--mainColor) !important;
}

.login__from__signin{
    margin: 20px 0;
    font-size: 15px;
    font-family: var(--appFont);
}
